* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "Inter", sans-serif;
}

.desktop-top-nav {
  display: block;
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: inherit;
  border-bottom: 1px rgba(255, 255, 255, 0.13) solid;
}
.desktop-top-nav .nav-container {
  display: flex;
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
}
.desktop-top-nav .nav-container .hamburger-menu {
  display: none;
}
.desktop-top-nav .nav-container .nav-left-side {
  display: flex;
  height: 100%;
  align-items: center;
}
.desktop-top-nav .nav-container .nav-left-side .logo-nav {
  height: 100%;
  width: 22px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.desktop-top-nav .nav-container .nav-left-side .logo-nav svg {
  cursor: pointer;
  width: 21.5px;
  height: 37px;
}
.desktop-top-nav .nav-container .nav-left-side .search-bar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.25);
  overflow: none;
  border-radius: 3px;
}
.desktop-top-nav .nav-container .nav-left-side .search-bar .search-icon {
  height: 100%;
  width: 28px;
  margin-left: 12px;
}
.desktop-top-nav .nav-container .nav-left-side .search-bar input {
  height: 34px;
  width: 448px;
  background-color: transparent;
  border: none;
  color: #fff;
}
.desktop-top-nav .nav-container .nav-left-side .search-bar input::placeholder {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6509803922);
}
.desktop-top-nav .nav-container .nav-left-side .search-bar input:focus::placeholder {
  color: rgba(255, 255, 255, 0.3647058824);
}
.desktop-top-nav .nav-container .nav-buttons {
  display: flex;
  align-items: center;
  margin: auto 0;
  height: 32px;
  width: 373px;
  justify-content: space-between;
}
.desktop-top-nav .nav-container .nav-buttons button {
  background-color: transparent;
  border: none;
  fill: rgba(255, 255, 255, 0.6509803922);
}
.desktop-top-nav .nav-container .nav-buttons button:nth-child(1) {
  fill: #fff;
}
.desktop-top-nav .nav-container .nav-buttons button:hover {
  cursor: pointer;
}
.desktop-top-nav .nav-container .nav-buttons button:focus {
  fill: #fff;
}
.desktop-top-nav .nav-container .nav-buttons .compose-btn {
  background-color: rgb(0, 184, 255);
  height: 32px;
  width: 45px;
  border-radius: 3px;
}
.desktop-top-nav .nav-container .nav-buttons .compose-btn svg {
  margin-top: 5px;
}

.home-container {
  display: grid;
  grid-template-columns: 624px 320px;
  grid-gap: 30px;
  max-width: 990px;
  margin: 40px auto;
  height: auto;
}
.home-container .left-column {
  display: flex;
  flex-direction: column;
}
.home-container .left-column .post-selection-section {
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.home-container .left-column .post-selection-section .profile-img {
  width: 64px;
  height: 64px;
}
.home-container .left-column .post-selection-section .profile-img img {
  border-radius: 3px;
  width: 100%;
}
.home-container .left-column .post-selection-section .post-type-icons {
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  padding: 15px 5px;
  width: 100%;
  max-width: 540px;
  height: 104px;
  box-sizing: border-box;
  border-radius: 3px;
}
.home-container .left-column .post-selection-section .post-type-icons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75.71px;
  height: 74px;
  padding: 5px 0;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: center;
}
.home-container .left-column .post-selection-section .post-type-icons button svg {
  margin: 0 0 5px;
}
.home-container .left-column .post-selection-section .post-type-icons button svg:hover {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 80ms;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: translateY(-3px);
}
.home-container .left-column .content-selection {
  display: flex;
  max-width: 540px;
  width: 100%;
  float: right;
  margin-left: auto;
  justify-content: space-evenly;
  border-bottom: 1px rgba(255, 255, 255, 0.13) solid;
}
.home-container .left-column .content-selection .more-btn {
  display: none;
}
.home-container .left-column .content-selection button {
  border: none;
  background-color: inherit;
  color: #fff;
  font-size: 18px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
}
.home-container .left-column .content-selection button:hover {
  background-color: rgb(34, 34, 34);
}
.home-container .left-column .content-selection button:focus {
  color: rgb(0, 184, 255);
  border-bottom: 2px solid rgb(0, 184, 255);
}
.home-container .left-column article {
  margin: 10px auto;
  height: auto;
  width: 100%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 540px;
}
.home-container .left-column article .sticky-avatar-container {
  height: 100%;
  width: 65px;
  position: relative;
}
.home-container .left-column article .sticky-avatar-container .sticky-avatar-img {
  height: 65px;
  width: 100%;
  position: sticky;
  top: 69px;
}
.home-container .left-column article .sticky-avatar-container .sticky-avatar-img img {
  border-radius: 3px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.home-container .article-container {
  border-radius: 3px;
  background-color: rgb(34, 34, 34);
  width: 100%;
}
.home-container .article-container .article-header {
  width: 100%;
  height: 51px;
  border-bottom: 1px rgba(255, 255, 255, 0.13) solid;
  padding: 15px 20px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-container .article-container .article-header .inner-left-header {
  display: flex;
  margin-left: 20px;
}
.home-container .article-container .article-header .inner-left-header .avatar-img-mobile {
  display: none;
}
.home-container .article-container .article-header .inner-left-header div {
  margin-right: 5px;
}
.home-container .article-container .article-header .inner-left-header span {
  display: flex;
}
.home-container .article-container .article-header .inner-left-header .reblog-name a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6509803922);
  font-weight: 600;
}
.home-container .article-container .article-header .inner-right-header {
  margin-right: 20px;
}
.home-container .article-container .header-user-name {
  text-align: center;
  align-self: center;
}
.home-container .article-container .header-user-name a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.home-container .article-container .post-header-container .post-header {
  padding: 15px 20px 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.home-container .article-container .post-header-container .post-header .avatar-img-mobile {
  display: none;
}
.home-container .article-container .post-header-container .post-header div {
  margin-right: 5px;
}
.home-container .article-container .post-header-container .post-header .inner-right-article-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container .article-container .post-header-container .post-header .inner-right-article-header svg {
  cursor: pointer;
}
.home-container .article-container .post-header-container .post-paragraph-container {
  margin: 15px 0 0;
  padding: 0 20px;
}
.home-container .article-container .post-header-container .post-paragraph-container p {
  margin-bottom: 12px;
}
.home-container .article-container .post-header-container .post-picture-container {
  width: 100%;
  margin-bottom: 35px;
}
.home-container .article-container .post-header-container .post-picture-container img {
  width: 100%;
}
.home-container .article-container .post-header-image {
  width: 25px;
  height: 25px;
}
.home-container .article-container .post-header-image img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.home-container .article-container .post-footer-container {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
}
.home-container .article-container .post-footer-container .post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container .article-container .post-footer-container .post-footer .footer-left-text span {
  color: rgba(255, 255, 255, 0.6509803922);
  font-weight: 600;
}
.home-container .article-container .post-footer-container .post-footer .footer-left-text span:hover {
  cursor: pointer;
}
.home-container .article-container .post-footer-container .post-footer .footer-right-icons {
  display: flex;
  align-items: center;
  width: 149px;
  height: 26.4px;
}
.home-container .article-container .post-footer-container .post-footer .footer-right-icons div svg {
  cursor: pointer;
}
.home-container .article-container .post-footer-container .post-footer .footer-right-icons .icon {
  margin-left: 20px;
}
.home-container .article-container .post-footer-container .post-footer .footer-right-icons .share-icon {
  width: 21px;
  height: 21px;
}
.home-container .article-container .post-footer-container .post-footer .footer-right-icons .comment-icon {
  width: 21px;
  height: 21px;
}
.home-container .article-container .post-footer-container .post-footer .footer-right-icons .reblog-icon {
  height: 21px;
}
.home-container .article-container .post-footer-container .post-footer .footer-right-icons .like-icon {
  height: 21px;
}
.home-container .article-container .post-footer-container .post-footer .radar-footer-icons {
  width: 108px;
}
.home-container .right-column h1 {
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 0 10px 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.13);
}
.home-container .right-column .right-container-1 {
  box-sizing: border-box;
  margin: 0 0 38px;
}
.home-container .right-column .right-container-1 ul {
  list-style: none;
  width: 320px;
  height: 256px;
  padding: 10px 0;
  box-sizing: border-box;
}
.home-container .right-column .right-container-1 ul li {
  height: 59px;
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.home-container .right-column .right-container-1 ul li span {
  width: 226px;
  height: 100%;
  display: flex;
  padding: 8px 10px;
  box-sizing: border-box;
}
.home-container .right-column .right-container-1 ul li .suggested-account-img {
  width: 37px;
  height: 37px;
  align-self: center;
  margin: 0 11px 0 0px;
}
.home-container .right-column .right-container-1 ul li .suggested-account-img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.home-container .right-column .right-container-1 ul li .suggested-profile-id-container {
  font-size: 14px;
}
.home-container .right-column .right-container-1 ul li .suggested-profile-id-container div {
  height: 21px;
  line-height: 1.5;
}
.home-container .right-column .right-container-1 ul li .suggested-profile-id-container .profile-id {
  font-weight: 700;
}
.home-container .right-column .right-container-1 ul li .suggested-profile-id-container .profile-name {
  color: rgba(255, 255, 255, 0.6509803922);
  overflow: hidden;
}
.home-container .right-column .right-container-1 ul li .follow-button-right-container {
  display: flex;
  width: 65px;
  cursor: default;
}
.home-container .right-column .right-container-1 ul li .follow-button-right-container button {
  align-self: center;
  background-color: transparent;
  margin: 0 auto;
  font-size: 0.875rem;
  border: none;
  color: rgb(0, 184, 255);
  font-weight: 600;
  cursor: pointer;
}
.home-container .right-column .right-container-1 ul li .follow-button-right-container button:hover {
  text-decoration: underline;
}
.home-container .right-column .right-container-1 ul li .remove-suggested-btn-container {
  display: flex;
  float: right;
  margin-right: 0;
  cursor: default;
}
.home-container .right-column .right-container-1 ul li .remove-suggested-btn-container span {
  padding-left: 8px;
  width: 29px;
  text-align: right;
  align-items: center;
}
.home-container .right-column .right-container-1 ul li .remove-suggested-btn-container span svg {
  cursor: pointer;
}
.home-container .right-column .right-container-1 ul li .remove-suggested-btn-container span svg:hover {
  fill: #fff;
}
.home-container .right-column .right-container-1 ul li:hover {
  background-color: rgba(57, 57, 57, 0.3);
}
.home-container .right-column .right-container-1 .eaot_right_container {
  display: block;
  text-decoration: none;
  color: rgb(0, 184, 255);
  height: 24px;
  font-size: 1rem;
  line-height: 1.5;
  margin: 12px 0 0;
  padding: 0 0 0 10px;
}
.home-container .right-column .right-container-1 .eaot_right_container:hover {
  text-decoration: underline;
}
.home-container .right-column .right-container-2 .right-inner-container {
  padding: 0 10px;
}
.home-container .right-column .right-container-2 .article-container {
  margin: 10px 0;
}
.home-container .right-column .right-container-2 .article-container .article-header {
  height: 45px;
  padding: inherit 10px;
}
.home-container .right-column .right-container-2 .article-container .article-header .inner-left-header {
  margin: 0 0 0 10px;
}
.home-container .right-column .footer-container {
  padding: 0 10px;
  margin: 0 0 20px;
  position: sticky;
  top: calc(100vh - 18px - 20px);
}
.home-container .right-column .footer-container ul {
  list-style: none;
  display: flex;
}
.home-container .right-column .footer-container ul li {
  margin: 0 10px 0 0;
}
.home-container .right-column .footer-container ul li a {
  text-decoration: none;
  color: rgb(0, 184, 255);
  font-size: 12.5px;
}
.home-container .right-column .footer-container ul li a:hover {
  text-decoration: underline;
}

.space-between {
  justify-content: space-between;
}

.follow-button {
  display: flex;
}
.follow-button button {
  align-self: center;
  background-color: transparent;
  font-size: 0.875rem;
  border: none;
  color: rgb(0, 184, 255);
  font-weight: 600;
}
.follow-button button:hover {
  text-decoration: underline;
}

.hidden-desktop {
  display: none;
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 989px) {
  .hidden-mobile {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .desktop-top-nav {
    height: 44px;
    border: none;
  }
  .desktop-top-nav .nav-container {
    max-width: 989px;
    padding: 0 5px;
    position: relative;
  }
  .desktop-top-nav .nav-container .hamburger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
  }
  .desktop-top-nav .nav-container .hamburger-menu span {
    width: 20px;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6509803922);
    border-radius: 3px;
  }
  .desktop-top-nav .nav-container .hamburger-menu span:nth-child(1) {
    transform: translateY(-6px);
  }
  .desktop-top-nav .nav-container .hamburger-menu span:nth-child(2) {
    transform: translateY(6px);
  }
  .desktop-top-nav .nav-container .nav-buttons {
    display: none;
  }
  .desktop-top-nav .nav-container .nav-left-side {
    width: calc(50vw - 14px);
    height: 44px;
    display: flex;
    justify-content: space-between;
  }
  .desktop-top-nav .nav-container .nav-left-side .logo-nav {
    padding: 0;
    width: 14px;
    height: 25px;
  }
  .desktop-top-nav .nav-container .nav-left-side .logo-nav svg {
    width: 14px;
    height: 25px;
  }
  .desktop-top-nav .nav-container .nav-left-side .search-bar {
    background-color: transparent;
  }
  .desktop-top-nav .nav-container .nav-left-side .search-bar .search-icon svg {
    width: 18px;
    height: 18px;
  }
  .desktop-top-nav .nav-container .nav-left-side .search-bar input {
    display: none;
  }
  .mobile-side-nav {
    display: block;
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 2;
    background-color: rgb(0, 0, 0);
  }
  .mobile-side-nav ul:nth-child(1) {
    list-style: none;
    max-width: 855px;
  }
  .mobile-side-nav ul:nth-child(1) li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-side-nav ul:nth-child(1) .compose-btn {
    background-color: rgb(0, 184, 255);
    height: 39.99px;
    width: 200px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    font-size: 1.125rem;
    line-height: 1.333;
    margin: 0 auto;
  }
  .mobile-side-nav ul:nth-child(1) .compose-btn span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-side-nav ul:nth-child(1) .compose-btn span svg {
    margin-right: 8px;
  }
  .mobile-side-nav ul:nth-child(1) li {
    height: 49.99px;
  }
  .mobile-side-nav ul:nth-child(1) li a {
    max-width: 851.75px;
    display: flex;
    text-decoration: none;
    align-items: center;
  }
  .mobile-side-nav ul:nth-child(1) li a .icon-container-side-nav {
    height: 24px;
    width: 21px;
    margin: 0 10px 0 15px;
  }
  .mobile-side-nav ul:nth-child(1) li a .icon-container-side-nav svg {
    fill: #fff;
  }
  .mobile-side-nav ul:nth-child(1) li a .side-nav-option-name {
    padding: 13px 15px;
  }
  .mobile-side-nav ul:nth-child(1) li a .side-nav-option-name span {
    color: #fff;
  }
  .mobile-side-nav h4 {
    display: block;
    margin-block-start: 1.33em;
    line-height: 1.5;
    padding: 5px 10px 5px 18px;
    font-size: 1.3125rem;
    font-weight: 700;
  }
  .mobile-side-nav .account-menu-list {
    display: block;
    list-style: none;
    margin-block-end: 1em;
    padding-inline-start: 18px;
  }
  .mobile-side-nav .account-menu-list li {
    display: flex;
    flex-direction: column;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container {
    height: 63.98px;
    width: 712.8px;
    display: flex;
    background-color: inherit;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-account-menu-button {
    width: 685.8px;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-account-menu-button .suggested-account-img {
    width: 37px;
    height: 37px;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-account-menu-button .suggested-account-img img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-account-menu-button div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 157.8px;
    height: 47.98px;
    margin-left: 11px;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-account-menu-button div:nth-child(2) div {
    padding: 0;
    margin: 0;
    display: flex;
    line-height: 1.333;
    font-size: 18px;
    height: 23.99px;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-account-menu-button div:nth-child(2) div:nth-child(1) {
    color: #fff;
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-account-menu-button div:nth-child(2) div:nth-child(2) {
    color: rgba(255, 255, 255, 0.6509803922);
  }
  .mobile-side-nav .account-menu-list li .account-settings-header-container .expand-icon-container {
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .mobile-side-nav .account-menu-list li ul {
    width: 712.8px;
    height: auto;
    margin-left: 40px;
    margin-right: 35px;
    list-style: none;
    max-height: 1000px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3em);
    transition: all 0.5s ease-in-out 1s, transform 1s linear;
  }
  .mobile-side-nav .account-menu-list li ul li a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.333;
  }
  .mobile-side-nav .footer-container {
    height: 38px;
    width: 100%;
    margin: 20px 10px 0;
  }
  .mobile-side-nav .footer-container ul {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .mobile-side-nav .footer-container ul li {
    padding: 0 14px;
  }
  .mobile-side-nav .footer-container ul li a {
    font-size: 12.5px;
    color: #fff;
  }
  .mobile-side-nav .footer-container ul li a:hover {
    text-decoration: underline;
  }
  #user-menu {
    transition-property: transform;
    transition-duration: 1s;
  }
  .home-container {
    grid-template-columns: 1fr;
    max-width: 540px;
    margin: 0 auto;
  }
  .home-container .left-column .post-selection-section {
    display: none;
  }
  .home-container .left-column .content-selection {
    margin: 0px 0 10px;
  }
  .home-container .left-column .content-selection button {
    cursor: pointer;
  }
  .home-container .left-column .content-selection button:nth-child(2),
.home-container .left-column .content-selection button:nth-child(3),
.home-container .left-column .content-selection button:nth-child(4) {
    display: none;
  }
  .home-container .left-column .content-selection .more-btn {
    display: block;
  }
  .home-container .left-column .content-selection .more-btn button svg {
    margin-left: 8px;
    background-color: #fff;
    border-radius: 50%;
  }
  .home-container .left-column article {
    font-size: 14px;
    grid-template-columns: 1fr;
  }
  .home-container .left-column article .sticky-avatar-container {
    display: none;
  }
  .home-container .left-column article .article-container {
    min-width: 540px;
  }
  .home-container .left-column article .article-container .article-header {
    height: 72px;
  }
  .home-container .left-column article .article-container .article-header .inner-left-header {
    flex-direction: row;
  }
  .home-container .left-column article .article-container .article-header .inner-left-header span {
    margin: 0 0 0 10px;
    justify-content: space-around;
    height: 42px;
    flex-direction: column;
  }
  .home-container .left-column article .article-container .article-header .inner-left-header span .header-user-name {
    width: 100%;
    padding-left: 5px;
  }
  .home-container .left-column article .article-container .article-header .inner-left-header span .header-user-name a {
    float: left;
    height: 16px;
  }
  .home-container .left-column article .article-container .article-header .inner-left-header span span {
    height: 16px;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  .home-container .left-column article .article-container .article-header .inner-left-header .avatar-img-mobile {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0;
  }
  .home-container .left-column article .article-container .article-header .inner-left-header .avatar-img-mobile img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  .home-container .left-column article .article-container .post-header-container .post-header span {
    display: flex;
  }
  .home-container .left-column article .article-container .post-header-container .post-header span .avatar-img-mobile {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0;
  }
  .home-container .left-column article .article-container .post-header-container .post-header span .avatar-img-mobile img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  .home-container .left-column article .article-container .post-header-container .post-header span .header-user-name {
    margin: 0 0 0 10px;
  }
  .home-container .left-column article .post-footer-container .post-footer {
    margin: 0 10px;
    height: 44px;
  }
  .home-container .left-column article .post-footer-container .post-footer .footer-right-icons {
    width: 192px;
    height: 48px;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
