    //colors
$accent: rgb(0, 184, 255);
$default-text:  #ffffffa6;
$navy: rgb(0, 0, 0);
$navy-accent: rgb(34, 34, 34);
$dark-accent: rgba(57, 57, 57,.3);
$red: rgb(255, 73, 48);
$orange: rgb(255, 138, 0);
$yellow: rgb(232, 215, 56);
$green: rgb(0, 207, 53);
$blue: rgb(0, 184, 255);
$purple: rgb(124, 92, 255);
$pink: rgb(255, 98, 206);

//measures
$post-padding: 10px;
$font-desktop: 16px;
$font-mobile-md: 14px;

*{
    padding: 0;
    margin: 0;
}

html, body{
    background-color: $navy;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.desktop-top-nav{
    display: block;
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: inherit;
    border-bottom: 1px rgba(white, 0.13) solid;
    .nav-container{
        display: flex;
        max-width: 1720px;
        padding: 0 20px;
        margin: 0 auto;
        height: 100%;
        justify-content: space-between;
        .hamburger-menu{
            display: none;
        }
        .nav-left-side{
            display: flex;
            height: 100%;
            align-items: center;
            .logo-nav{
                height: 100%;
                width: 22px;
                padding-right: 15px;
                display: flex;
                align-items: center;
                svg{
                    cursor: pointer;
                    width: 21.5px;
                    height: 37px;
                }
            }
            .search-bar{
                display: flex;
                background-color: rgba(white, 0.25);
                overflow: none;
                border-radius: 3px;
                .search-icon{
                    height: 100%;
                    width: 28px;
                    margin-left: 12px;
                }
                input{
                    height: 34px; 
                    width: 448px;
                    background-color: transparent;
                    border: none;
                    color: #fff;
                }
                input::placeholder{
                    font-size: 1rem;
                    line-height: 1.5;
                    color: $default-text;
                }
                input:focus::placeholder{
                    color: #ffffff5d ;
                }    
            }
        }
        .nav-buttons{
            display: flex;
            align-items: center;
            margin: auto 0;
            height: 32px;
            width: 373px;
            justify-content: space-between;
            button{
             background-color: transparent;
             border: none;
             fill: $default-text;
            }
            button:nth-child(1){
                fill: #fff;
            }
            button:hover{
                cursor: pointer; 
            }
            button:focus{
                fill: #fff;
            }
            .compose-btn{
                background-color: $accent;
                height: 32px;
                width: 45px;
                border-radius: 3px;
                svg{
                    margin-top: 5px;
                }
            }
        }
    }
}

.home-container{
    display: grid;
    grid-template-columns: 624px 320px;
    grid-gap: 30px;
    max-width: 990px;
    margin: 40px auto;
    height: auto;
    .left-column{
        display: flex;
        flex-direction: column;
        .post-selection-section{
            justify-content: space-between;
            width: 100%;
            display: flex;
            .profile-img{
                width: 64px;
                height: 64px;
                img{
                    border-radius: 3px;
                    width: 100%;
                }
            }
            .post-type-icons{
                background-color: $navy-accent;
                display: flex;
                justify-content: center;
                margin: 0 0 20px;
                padding: 15px 5px;
                width: 100%;
                max-width: 540px;
                height: 104px;
                box-sizing: border-box;
                border-radius: 3px;               
                button{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 75.71px;
                    height: 74px;
                    padding: 5px 0;
                    color: #fff;
                    background-color: transparent;
                    border: none;
                    text-align: center;
                    svg{
                        margin: 0 0 5px;
                        
                    }
                    svg:hover{
                        cursor: pointer;
                        transition-property: transform;
                        transition-duration: 80ms;
                        transition-timing-function: linear;
                        transition-delay: 0s;
                        transform: translateY(-3px);
                    }
                }
            }
        }
        .content-selection{
            display: flex;
            max-width: 540px;
            width: 100%;
            float: right;
            margin-left: auto;
            justify-content: space-evenly;
            border-bottom: 1px rgba(white, 0.13) solid;
            .more-btn{
                display: none;
            }
            button{
                border: none;
                
                background-color: inherit;
                color: #fff;
                font-size: 18px;
                padding: 14px 16px;
                display: flex;
                align-items: center;
            }
            button:hover{
                background-color: $navy-accent;
            }
            button:focus{
                color: $blue;
                border-bottom: 2px solid $blue;
            }
            
        }
        

        article{
            margin: 10px auto;
            height: auto;
            width: 100%;
            align-self: flex-end;
            display: grid;
            grid-template-columns: 1fr 540px;
            .sticky-avatar-container{
                height: 100%;
                width: 65px;
                position: relative;
                .sticky-avatar-img{
                    height: 65px;
                    width: 100%;
                    position: sticky;
                    top: 69px;
                    img{
                        border-radius: 3px;
                        width: 100%;
                        height: auto;
                        cursor: pointer;
                                          
                    }
                }
                
            }
        }
    }
    .article-container{
        border-radius: 3px;
        background-color: $navy-accent;
        width: 100%;
        .article-header{
            width: 100%;
            height: 51px;
            border-bottom: 1px rgba(white, 0.13) solid;
            padding: 15px 20px auto;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .inner-left-header{
                display: flex;
                margin-left: 20px;
                .avatar-img-mobile{
                    display: none;
                }
                div{
                    margin-right: 5px;
                }
                span{
                    display: flex;
                    
                }
                .reblog-name{
                    a{
                        text-decoration: none;
                        color: $default-text;
                        font-weight: 600;
                    } 
                }
            }   
            .inner-right-header{
                margin-right: 20px;
            }
        }
        .header-user-name{
            text-align: center;
            align-self: center;
            a{
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }
        }
        .post-header-container{                    
            .post-header{
                padding: 15px 20px 0;
                margin-bottom: 15px;
                display: flex;
                flex-direction: row;
                .avatar-img-mobile{
                    display: none;
                }
                div{
                    margin-right: 5px;
                }
                .inner-right-article-header{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        cursor: pointer;
                    }
                }
            }
            .post-paragraph-container{
                margin: 15px 0 0;
                padding: 0 20px;
                p{
                    margin-bottom: 12px;
                }
            }
            .post-picture-container{
                width: 100%;
                margin-bottom: 35px;
                img{
                    width: 100%;
                };
            }
        }
        .post-header-image{
            width: 25px;
            height: 25px;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }
        }
        .post-footer-container{
            padding-bottom: $post-padding;
            padding-left: $post-padding;
            padding-right: $post-padding;
            box-sizing: border-box;
            width: 100%;
            .post-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .footer-left-text{
                    span{
                        color: $default-text;
                        font-weight: 600;
                    }
                    span:hover{
                        cursor: pointer;
                    }
                }
                .footer-right-icons{
                    display: flex;
                    align-items: center;
                    width: 149px;
                    height: 26.4px;
                    div{
                        svg{
                            cursor: pointer;
                        }
                    }
                    .icon{
                        margin-left: 20px;
                    }
                    .share-icon{
                        width: 21px;
                        height: 21px;                                         
                    }
                    .comment-icon{
                        width: 21px;
                        height: 21px;                               
                    }
                    .reblog-icon{
                        height: 21px;                                                        
                    }
                    .like-icon{ 
                        height: 21px;                                 
                    }
                }
                .radar-footer-icons{
                    width: 108px;
                }
            }
        }
    }

    .right-column{        
        h1{
            font-size: 1.3125rem;
            font-weight: 600;
            line-height: 1.2;
            padding:0 10px 10px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.13);
            // background-color: pink;
        }
        .right-container-1{
            box-sizing: border-box;
            margin: 0 0 38px;
            ul{
                list-style: none;
                width: 320px;
                height: 256px;
                padding: 10px 0;
                box-sizing: border-box;
                li{
                    height: 59px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                    span{
                        width: 226px;
                        height: 100%;
                        display: flex;
                        padding: 8px 10px;
                        box-sizing: border-box;                       
                    }
                    .suggested-account-img{
                        width: 37px;
                        height: 37px;
                        align-self: center;
                        margin: 0 11px 0 0px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 3px;
                        }
                    }
                    .suggested-profile-id-container{
                        font-size: 14px;
                        div{
                            height: 21px;
                            line-height: 1.5;
                        }
                        .profile-id{
                            font-weight: 700;
                        }
                        .profile-name{
                            color: $default-text;
                            overflow: hidden;
                        }
                    }
                    .follow-button-right-container{
                        display: flex;
                        width: 65px;
                        cursor: default;
                        button{
                            align-self:center;
                            background-color: transparent;
                            margin: 0 auto;
                            font-size: .875rem;
                            border: none;
                            color: $accent;
                            font-weight: 600;
                            cursor: pointer;
                        }
                        button:hover{
                            text-decoration: underline;
                        }
                    }
                    .remove-suggested-btn-container{
                        display: flex;
                        float: right;
                        margin-right: 0;
                        cursor: default;
                        span{
                            padding-left: 8px; //that is very questionable - work on it later
                            width: 29px;
                            text-align: right;
                            align-items: center;
                            svg{
                                cursor: pointer;
                            }
                            svg:hover{
                                fill: #fff;
                            }
                        }

                    }    
                }
                li:hover{
                    background-color: $dark-accent;
                }
            }
            .eaot_right_container{
                display: block;
                text-decoration: none;
                color: $accent;
                height: 24px;
                font-size: 1rem;
                line-height: 1.5;
                margin: 12px 0 0;
                padding: 0 0 0 10px;
            }
            .eaot_right_container:hover{
                text-decoration: underline;
            }
        }
        .right-container-2{
            .right-inner-container{
                padding: 0 10px;
            }
            .article-container{
                margin: 10px 0;
                .article-header{
                    height: 45px;
                    padding: inherit 10px;
                    .inner-left-header{
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
        .footer-container{
            padding: 0 10px;
            margin: 0 0 20px;
            position: sticky;
            top: calc(100vh - 18px - 20px);
            ul{
                list-style: none;
                display: flex;
                li{
                    margin: 0 10px 0 0;
                    a{
                        text-decoration: none;
                        color: $accent;
                        font-size: 12.5px;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

//universal classes
.space-between{
    justify-content: space-between;
}

.follow-button{
    display: flex;
    button{
        align-self:center;
        background-color: transparent;
        font-size: .875rem;
        border: none;
        color: $accent;
        font-weight: 600;
    }
    button:hover{
        text-decoration: underline;
    }
}

.hidden-desktop{
    display: none;
};
.hide{
    display: none;
    opacity: 0;
    visibility: hidden;
    // transform: rotate(90deg);
    // transition-duration:1s;
}


@media screen and (max-width: 989px) {
    .hidden-mobile{
        display: none; //why doesn't adding class work?
    }
    .hidden-desktop{
        display: block;
    }
    .desktop-top-nav{
        height: 44px;
        border: none;
        .nav-container{
            max-width: 989px;
            padding: 0 5px;
            position: relative;
            // background-color: teal;
            .hamburger-menu{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                align-self: center;
                span{
                    width: 20px;
                    height: 2px;
                    margin: 0 auto;
                    position: absolute;
                    background-color: $default-text;
                    border-radius: 3px;
                }
                span:nth-child(1) {
                    transform: translateY(-6px)
                }
                span:nth-child(2) {
                    transform: translateY(6px)
                }
            }
            .nav-buttons{
                display: none;
            }
            .nav-left-side{
                width: calc(50vw - 14px);
                height: 44px;
                display: flex;
                justify-content: space-between;
                .logo-nav{
                    padding: 0;
                    width: 14px;
                    height: 25px;
                    svg{
                        width: 14px;
                        height: 25px;
                    }
                } 
                .search-bar{
                    background-color: transparent;
                    .search-icon{
                        svg{
                            width: 18px;
                            height: 18px;
                        }
                    }
                    input{
                        display: none;
                    }
                }
            }
        }
    }
    .mobile-side-nav{
        display: block;
        position: absolute;
        width: 100vw;
        height: auto;
        z-index: 2;
        background-color: $navy;
        ul:nth-child(1){
            list-style:none;
            max-width: 855px;
            li:nth-child(1){
                display: flex; 
                justify-content: center;
                align-items: center;
            }
            .compose-btn{
                background-color: $accent;
                height: 39.99px;
                width: 200px;
                border-radius: 6px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 0;
                font-size: 1.125rem;
                line-height: 1.333;
                margin: 0 auto;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    svg{
                        margin-right: 8px; 
                    }
                }
            }
            li{
                height: 49.99px;
                a{
                    max-width: 851.75px;
                    display: flex;
                    text-decoration:none;
                    align-items: center;
                    .icon-container-side-nav{
                        height: 24px;
                        width: 21px;
                        margin: 0 10px 0 15px;
                        svg{
                            fill: #fff;
                        }
                    }
                    .side-nav-option-name{
                        padding: 13px 15px;
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
        h4{
            display: block;
            margin-block-start: 1.33em;
            line-height: 1.5;
            padding: 5px 10px 5px 18px;
            font-size: 1.3125rem;
            font-weight: 700;
        }
        .account-menu-list{
            display: block;
            list-style: none;
            margin-block-end: 1em;
            padding-inline-start: 18px;
            li{
                display: flex;
                flex-direction: column;
                .account-settings-header-container{
                    height: 63.98px;
                    width: 712.8px;
                    display: flex;
                    background-color: inherit;
                    border: none;
                    cursor: pointer;
                    align-items: center;
                    justify-content: space-between;
                    .expand-account-menu-button{
                        width: 685.8px;
                        height: 100%;
                        border: none;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: transparent;
                        .suggested-account-img{
                            width: 37px;
                            height: 37px;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 3px;
                            }
                        }
                        div:nth-child(2){
                            display: flex;
                            flex-direction: column;
                            align-items: baseline;
                            width: 157.8px;
                            height: 47.98px;
                            margin-left: 11px;
                            div{
                                padding: 0;
                                margin: 0;
                                display: flex;
                                line-height: 1.333;
                                // font-size: 1rem;
                                font-size: 18px;
                                height: 23.99px;
                            }
                            div:nth-child(1){
                                color: #fff;
                            }
                            div:nth-child(2){
                                color: $default-text;
                            }
                        }
                    }
                    .expand-icon-container{
                        transition-duration: 0.3s;
                        transition-property: transform;
                    }
                }
                ul{
                    width: 712.8px;
                    height: auto;
                    margin-left: 40px;
                    margin-right: 35px;
                    list-style: none;
                    max-height: 1000px;
                    visibility: hidden;
                    opacity: 0;
                    // transition-property: transform;
                    // transition-duration: 1s;
                    transform: translateY(-3em);
                    // transition-timing-function: ease;
                    // transition: transform 1s linear 0s;
                    transition: all 0.5s ease-in-out 1s, transform 1s linear;
                    li{
                        a{
                            text-decoration: none;
                            padding: 10px;
                            color: #fff;
                            font-size: 1.125rem;
                            font-weight: 400;
                            line-height: 1.333;
                        }
                    }
                }
            }
        }
        
    .footer-container{
        height: 38px;
        width: 100%;
        margin: 20px 10px 0;
        ul{
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            li{
                padding: 0 14px;
                a{
                    font-size: 12.5px;
                    color: #fff;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

    #user-menu{
        transition-property: transform;
        transition-duration: 1s;
    }
   .home-container{
        grid-template-columns: 1fr;
        max-width: 540px;
        margin: 0 auto;
        .left-column{
            .post-selection-section{
                display: none;
            }
            .content-selection{
                margin: 0px 0 10px;
                button{
                    cursor: pointer;
                }
                button:nth-child(2), 
                button:nth-child(3),
                button:nth-child(4){
                    display: none;
                }
                .more-btn{
                    display: block;
                    button{
                        svg{
                            margin-left: 8px;
                            background-color: #fff;
                            border-radius: 50%;
                        }
                    }
                }
            }
            article{
                font-size: $font-mobile-md;
                grid-template-columns: 1fr;
                .sticky-avatar-container{
                    display: none;
                }
                .article-container{
                    min-width: 540px;
                    .article-header{
                        height: 72px; 
                        .inner-left-header{
                            flex-direction: row;
                            span{
                                margin: 0 0 0 10px;
                                justify-content: space-around;                    
                                height: 42px;
                                .header-user-name{
                                    width:100%;
                                    padding-left: 5px;
                                    a{
                                        float:left;
                                        height: 16px;
                                    }
                                }
                                flex-direction: column;
                                span{
                                    height: 16px;
                                    margin: 0;
                                    display: flex;
                                    flex-direction: row;
                                }
                            }
                            .avatar-img-mobile{ //how to use it without doubling it?
                                display: block;
                                width: 38px;
                                height: 38px;
                                margin: 0;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                    .post-header-container{
                        
                        .post-header{
                            span{
                                display: flex;
                                .avatar-img-mobile{
                                    display: block;
                                    width: 38px;
                                    height: 38px;
                                    margin: 0;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 3px;
                                    }
                                }  
                                .header-user-name{
                                    margin: 0 0 0 10px;
                                }
                            }
                        }
                    }
                }
                .post-footer-container{
                    .post-footer{
                        margin: 0 10px;
                        height: 44px;
                        .footer-right-icons{
                            width: 192px;
                            height: 48px;
                            justify-content: space-around;
                        }
                    }
                }
            }
        }
   }
}



