//colors
$color-navy:rgb(0, 25, 53);

*{
    padding: 0;
    margin: 0;
}

html, body{
    background-color: $color-navy;
    color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica";

    
}

//colors
$accent: rgb(0, 184, 255);
$default-text:  #ffffffa6;

//measures
$post-padding: 10px;

nav{
    display: block;
    height: 55px;
    position: sticky;
    top: 0;
    background-color: inherit;
    border-bottom: 1px rgba(white, 0.13) solid;
    .nav-container{
        display: flex;
        max-width: 1720px;
        padding: 0 20px;
        margin: 0 auto;
        height: 100%;
        justify-content: space-between;
        .nav-left-side{
            display: flex;
            height: 100%;
            align-items: center;
            .logo-nav{
                height: 100%;
                width: 22px;
                padding-right: 15px;
                display: flex;
                align-items: center;
                svg{
                    width: 21.5px;
                    height: 37px;
                }
            }
            .search-bar{
                display: flex;
                background-color: rgba(white, 0.25);
                overflow: none;
                border-radius: 3px;
                .search-icon{
                    height: 100%;
                    width: 28px;
                    margin-left: 12px;
                }
                input{
                    height: 34px; 
                    width: 448px;
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    font-weight: 400;
                }
                input::placeholder{
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #fff;
                }
                input:focus .search-bar{
                    background-color: red;
                }    
            }
        }
        // .search-bar input:focus .search-bar{
        //     background-color: black;
        // }

        .nav-buttons{
            display: flex;
            align-items: center;
            margin: auto 0;
            height: 32px;
            width: 373px;
            justify-content: space-between;
            button{
             background-color: transparent;
             border: none;   
            }
            .compose-btn{
                background-color: $accent;
                height: 32px;
                width: 45px;
                border-radius: 3px;
                svg{
                    margin-top: 5px;
                }
            }
        }
        
    }
}

.home-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    max-width: 975px;
    margin: 0 auto;
    height: auto;
    .left-column{
        display: flex;
        flex-direction: column;
        .post-selection-section{
            width: 100%;
            display: flex;
            .profile-img{
                width: 64px;
                height: 64px;
                img{
                    width: 100%;
                }
            }
            .post-type-icons{
                display: grid;
                width: 80%;
                margin-left: auto;
                height: 100px;
                grid-template-columns:repeat(7, 1fr);
                .single-post-type-icon{
                    text-align: center;
                    button{
                        width: 100%;
                        height: 70%;
                    }
                }
            }
        }
        .content-selection{
            display: flex;
            width: 80%;
            float: right;
            margin-left: auto;
            justify-content: space-evenly;
            div{
                font-size: 1.3em;
                display: flex;
                align-items: center;
                img{
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                    background-color: aqua;
                }
            }
            
        }
        article{
            margin: 10px auto;
            height: auto;
            width: 100%;
            align-self: flex-end;
            display: grid;
            grid-template-columns: 1fr 4fr;
            .sticky-avatar-container{
                height: 100%;
                width: 65px;
                img{
                    width: 100%;
                    height: auto;
                    position: sticky;
                }
            }
            .article-container{
                width: 100%;
                .article-header{
                    width: 100%;
                    height: 51px;
                    padding: 15px 20px auto;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .inner-left-article-header{
                        display: flex;
                        margin-left: 20px;
                    }   
                    .inner-right-article-header{
                        margin-right: 20px;
                    }
                }
                .post-header-container{
                    margin-top: 15px;
                    .post-header{
                        padding-left: $post-padding;
                        padding-right: $post-padding;
                        margin-bottom: 15px;
                        display: flex;
                        flex-direction: row;
                        .post-header-image{
                            width: 25px;
                            height: 25px;
                            background-color: orange;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .post-paragraph-container{
                        padding: $post-padding;
                    }
                    .post-picture-container{
                        width: 100%;
                        margin-bottom: 35px;
                        img{
                            width: 100%
                        };
                    }
                }
                .post-footer-container{
                    padding-bottom: $post-padding;
                    padding-left: $post-padding;
                    padding-right: $post-padding;
                    box-sizing: border-box;
                    width: 100%;
                    .post-footer{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .footer-left-text{
                            span{
                                color: $default-text;
                            }
                        }
                        .footer-right-icons{
                            display: flex;
                            align-items: center;
                            width: 149px;
                            height: 26.4px;
                            .icon{
                                margin-left: 20px;
                            }
                            .share-icon{
                                width: 21px;
                                height: 21px;
                                
                                                               
                            }
                            .comment-icon{
                                width: 21px;
                                height: 21px;
                                
                                
                            }
                            .reblog-icon{
                                height: 21px;
                                 
                                                               
                            }
                            .like-icon{ 
                                height: 21px;
                                 
                            }
                        }
                    }
                }
            }
        }
    }
    .right-column{
        background-color: burlywood;
    }
}





